# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...
import time

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

C:\Users\jorge\AppData\Local\Temp\ipykernel_13656\1669142788.py:6: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

In [3]:
PATH = ChromeDriverManager().install() 
driver=webdriver.Chrome(PATH)

C:\Users\jorge\AppData\Local\Temp\ipykernel_13656\1901118871.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
driver.get(url)

In [5]:
def f(xpath):
    return driver.find_element(By.XPATH, xpath)

def fs(xpath):
    return driver.find_elements(By.XPATH, xpath)
def g(tag):
    return driver.find_elements(By.TAG_NAME, tag)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
devs = [i.text for i in fs('//div[2]/div[1]/div[1]/h1')]
devs[0:5]

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [8]:
repos = [i.text for i in fs('//h1')][1:]
repos[:5]

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith']

#### Display all the image links from Walt Disney wikipedia page

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [10]:
#your code
links = [i.get_attribute('src') for i in g('img')]
links[0:5]

['https://en.wikipedia.org/static/images/icons/wikipedia.png',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png']

In [11]:
from IPython.display import Image
Image(url = links[5])

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
driver.get(url)

In [13]:
fs('//li/a')[0].text

'Create account'

In [14]:
#your code
links = [i.get_attribute('href') for i in fs('//*[@id="bodyContent"]//ul/li/a')]
links[:10]

['https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana']

#### Number of Titles that have changed in the United States Code since its last release point

In [15]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [16]:
titles = [i.text for i in fs("//div[@class='usctitlechanged']")]

titles[0:5]

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [17]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [18]:
wanted = [i.text for i in fs("//h3[@class='title']//a")]
wanted

['RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [19]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [20]:
headers = [i.text for i in fs('//thead//th')]
headers

['Citizen\nResponse',
 'Date & Time\nUTC',
 'Latitude\ndegrees',
 'Longitude\ndegrees',
 'Depth\nkm',
 'Mag\n[+]',
 'Region name\n[+]',
 '']

In [21]:
rows = [i for i in fs('//tbody//tr')]
data = []
for j in rows[10:]:
    row = []
    for i in j.find_elements(By.XPATH, 'td'):
        row.append(i.text)
    data.append(row)

In [22]:
clean = []
for i in data:
    p = i[3].split('\n')[0]
    clean.append([p]+i[4:12])

In [23]:
headers = ['Date & Time UTC','Lat','LaDir','Long','LoDir','Depth','Magnitude','Region']

x = pd.DataFrame(clean)
x.drop(x.columns[6],axis=1,inplace=True)
x.columns = headers
x.head()

,Date & Time UTC,Lat,LaDir,Long,LoDir,Depth,Magnitude,Region
0,2023-02-08 16:40:33.2,37.84,N,36.60,E,16,3.2,CENTRAL TURKEY
1,2023-02-08 16:21:19.8,19.15,N,155.48,W,33,2.0,"ISLAND OF HAWAII, HAWAII"
2,2023-02-08 16:18:17.6,38.00,N,37.51,E,5,2.8,CENTRAL TURKEY
3,2023-02-08 16:15:05.3,37.55,N,37.34,E,14,2.9,CENTRAL TURKEY
4,2023-02-08 16:12:04.2,38.10,N,36.69,E,9,2.6,CENTRAL TURKEY

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [86]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/Microsoft'
driver.get(url)

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [26]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [27]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [29]:
langs = [i.text for i in g('strong')][1:-1]
arts = [i.text.rstrip('+') for i in g('small')][0:-3]
list(zip(langs,arts))

[('English', '6 606 000+ articles'),
 ('Русский', '1 887 000+ статей'),
 ('日本語', '1 359 000+ 記事'),
 ('Deutsch', '2 764 000+ Artikel'),
 ('Français', '2 488 000+ articles'),
 ('Español', '1 833 000+ artículos'),
 ('Italiano', '1 792 000+ voci'),
 ('中文', '1 331 000+ 条目 / 條目'),
 ('فارسی', '947 000+ مقاله'),
 ('Polski', '1 552 000+ haseł')]

#### A list with the different kind of datasets available in data.gov.uk

In [30]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [31]:
#your code 
[i.text for i in fs('//a[@class="govuk-link"]')][4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [39]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [41]:
#your code

headers = [i.text.replace('\n', ' ') for i in fs('//table[1]//thead//th')]


data = [[j.text.replace('\n', ' ') for j in i.find_elements(By.XPATH,'td')] for i in fs('//tbody//tr')]
data[:27]

data = pd.DataFrame(data,columns=headers)
data.head()

,Language,Native speakers (millions),Language family,Branch
0,"Mandarin Chinese (incl. Standard Chinese, but ...",920,Sino-Tibetan,Sinitic
1,Spanish,475,Indo-European,Romance
2,English,373,Indo-European,Germanic
3,Hindi (excl. Urdu),344,Indo-European,Indo-Aryan
4,Bengali,234,Indo-European,Indo-Aryan

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [7]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
driver.get(url)

In [82]:
headers = [i.text for i in fs('//div[@class="lister"]//thead//th')][1:-2]

x = [[j.text for j in i.find_elements(By.XPATH,'td')] for i in fs('//div[@class="lister"]//tbody//tr')]

In [83]:
clean = []
for i in x:
    clean.append(i[1:3])

In [84]:
import re 

for i in clean:
    i[0] = re.sub("^[0-9]+. ", "", i[0])
    x = i[0].split('(')[-1][:-1]
    i.append(x)

The Shawshank Redemption (1994)
The Godfather (1972)
The Dark Knight (2008)
The Godfather Part II (1974)
12 Angry Men (1957)
Schindler's List (1993)
The Lord of the Rings: The Return of the King (2003)
Pulp Fiction (1994)
The Lord of the Rings: The Fellowship of the Ring (2001)
The Good, the Bad and the Ugly (1966)
Forrest Gump (1994)
Fight Club (1999)
The Lord of the Rings: The Two Towers (2002)
Inception (2010)
Star Wars: Episode V - The Empire Strikes Back (1980)
The Matrix (1999)
GoodFellas (1990)
One Flew Over the Cuckoo's Nest (1975)
Seven (1995)
Seven Samurai (1954)
It's a Wonderful Life (1946)
The Silence of the Lambs (1991)
City of God (2002)
Saving Private Ryan (1998)
Interstellar (2014)
Life Is Beautiful (1997)
The Green Mile (1999)
Star Wars (1977)
Terminator 2: Judgment Day (1991)
Back to the Future (1985)
Spirited Away (2001)
The Pianist (2002)
Psycho (1960)
Parasite (2019)
Leon (1994)
The Lion King (1994)
Gladiator (2000)
American History X (1998)
The Departed (2006)
The Usual Suspects (1995)
The Prestige (2006)
Whiplash (2014)
Casablanca (1942)
Grave of the Fireflies (1988)
Harakiri (1962)
Untouchable (2011)
Modern Times (1936)
Once Upon a Time in the West (1968)
Rear Window (1954)
Cinema Paradiso (1988)
Alien (1979)
City Lights (1931)
Apocalypse Now (1979)
Memento (2000)
Django Unchained (2012)
Raiders of the Lost Ark (1981)
WALL·E (2008)
The Lives of Others (2006)
Sunset Blvd. (1950)
Paths of Glory (1957)
The Shining (1980)
The Great Dictator (1940)
Avengers: Infinity War (2018)
Witness for the Prosecution (1957)
Aliens (1986)
Spider-Man: Into the Spider-Verse (2018)
American Beauty (1999)
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)
The Dark Knight Rises (2012)
Oldboy (2003)
Inglourious Basterds (2009)
Amadeus (1984)
Coco (2017)
Toy Story (1995)
Joker (2019)
Braveheart (1995)
Das Boot (1981)
Avengers: Endgame (2019)
Princess Mononoke (1997)
Once Upon a Time in America (1984)
Good Will Hunting (1997)
Your Name. (2016)
3 Idiots (2009)
Singin' in the Rain (1952)
Requiem for a Dream (2000)
Toy Story 3 (2010)
High and Low (1963)
Capernaum (2018)
Star Wars: Return of the Jedi (1983)
Eternal Sunshine of the Spotless Mind (2004)
2001: A Space Odyssey (1968)
Reservoir Dogs (1992)
Come and See (1985)
The Hunt (2012)
Citizen Kane (1941)
M (1931)
Lawrence of Arabia (1962)
North by Northwest (1959)
Vertigo (1958)
Amélie (2001)
Ikiru (1952)
The Apartment (1960)
A Clockwork Orange (1971)
Top Gun: Maverick (2022)
Double Indemnity (1944)
Full Metal Jacket (1987)
Scarface (1983)
Hamilton (2020)
Incendies (2010)
To Kill a Mockingbird (1962)
Heat (1995)
The Sting (1973)
Up (2009)
A Separation (2011)
Taxi Driver (1976)
Metropolis (1927)
L.A. Confidential (1997)
Die Hard (1988)
Snatch (2000)
Indiana Jones and the Last Crusade (1989)
Bicycle Thieves (1948)
Like Stars on Earth (2007)
1917 (2019)
Downfall (2004)
Dangal (2016)
For a Few Dollars More (1965)
Batman Begins (2005)
The Kid (1921)
Some Like It Hot (1959)
The Father (2020)
All About Eve (1950)
Green Book (2018)
The Wolf of Wall Street (2013)
Judgment at Nuremberg (1961)
Casino (1995)
Ran (1985)
Pan's Labyrinth (2006)
The Truman Show (1998)
There Will Be Blood (2007)
Unforgiven (1992)
The Sixth Sense (1999)
Shutter Island (2010)
A Beautiful Mind (2001)
Jurassic Park (1993)
Yojimbo (1961)
The Treasure of the Sierra Madre (1948)
Monty Python and the Holy Grail (1975)
The Great Escape (1963)
Spider-Man: No Way Home (2021)
No Country for Old Men (2007)
Kill Bill: Vol. 1 (2003)
Rashomon (1950)
The Thing (1982)
Finding Nemo (2003)
The Elephant Man (1980)
Chinatown (1974)
Raging Bull (1980)
V for Vendetta (2005)
Gone with the Wind (1939)
Lock, Stock and Two Smoking Barrels (1998)
Inside Out (2015)
Dial M for Murder (1954)
The Secret in Their Eyes (2009)
Howl's Moving Castle (2004)
Three Billboards Outside Ebbing, Missouri (2017)
The Bridge on the River Kwai (1957)
Trainspotting (1996)
Prisoners (2013)
Warrior (2011)
Fargo (1996)
Gran Torino (2008)
My Neighbour Totoro (1988)
Catch Me If You Can (2002)
Million Dollar Baby (2004)
Children of Heaven (1997)
Blade Runner (1982)
The Gold Rush (1925)
Before Sunrise (1995)
12 Years a Slave (2013)
Klaus (2019)
Harry Potter and the Deathly Hallows: Part 2 (2011)
On the Waterfront (1954)
Ben-Hur (1959)
Gone Girl (2014)
The Grand Budapest Hotel (2014)
Wild Strawberries (1957)
The General (1926)
The Third Man (1949)
In the Name of the Father (1993)
The Deer Hunter (1978)
Barry Lyndon (1975)
Hacksaw Ridge (2016)
The Wages of Fear (1953)
Memories of Murder (2003)
Sherlock Jr. (1924)
Wild Tales (2014)
Mr. Smith Goes to Washington (1939)
Mad Max: Fury Road (2015)
The Seventh Seal (1957)
Mary and Max (2009)
How to Train Your Dragon (2010)
Room (2015)
Monsters, Inc. (2001)
Jaws (1975)
The Big Lebowski (1998)
Dead Poets Society (1989)
Tokyo Story (1953)
The Passion of Joan of Arc (1928)
Hotel Rwanda (2004)
Le Mans '66 (2019)
Rocky (1976)
Platoon (1986)
Ratatouille (2007)
Spotlight (2015)
The Terminator (1984)
Logan (2017)
Stand by Me (1986)
Rush (2013)
Network (1976)
Into the Wild (2007)
Before Sunset (2004)
The Wizard of Oz (1939)
Pather Panchali (1955)
Groundhog Day (1993)
The Best Years of Our Lives (1946)
The Exorcist (1973)
The Incredibles (2004)
To Be or Not to Be (1942)
La haine (1995)
The Battle of Algiers (1966)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)
Hachi: A Dog's Tale (2009)
The Grapes of Wrath (1940)
My Father and My Son (2005)
Jai Bhim (2021)
Amores perros (2000)
Rebecca (1940)
Cool Hand Luke (1967)
The Handmaiden (2016)
The 400 Blows (1959)
The Sound of Music (1965)
It Happened One Night (1934)
Persona (1966)
Life of Brian (1979)
The Iron Giant (1999)
The Help (2011)
Dersu Uzala (1975)
Aladdin (1992)
Gandhi (1982)
Dances with Wolves (1990)

In [85]:
data = pd.DataFrame(clean,columns=['Title','IMDb Rating','Year'])
data.head()

                             Title IMDb Rating  Year
0  The Shawshank Redemption (1994)         9.2  1994
1             The Godfather (1972)         9.2  1972
2           The Dark Knight (2008)         9.0  2008
3     The Godfather Part II (1974)         9.0  1974
4              12 Angry Men (1957)         9.0  1957

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code