# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [27]:
%pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager # sustituye al archivo

Requirement already satisfied: webdriver-manager in c:\users\axell\anaconda3\anaconda3\lib\site-packages (3.8.5)
Requirement already satisfied: tqdm in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: requests in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: packaging in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: python-dotenv in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from webdriver-manager) (0.21.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: colorama in c:\users\axell\anaconda3\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [28]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

C:\Users\axell\AppData\Local\Temp\ipykernel_1952\4076755805.py:6: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

In [58]:
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...

import time

import warnings
warnings.filterwarnings('ignore')

In [29]:
#driver = "./chromedriver.exe" #remember substitute this for your driver path
#driver = webdriver.Chrome(driver,options = opciones)

In [30]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get('https://www.google.es')

C:\Users\axell\AppData\Local\Temp\ipykernel_1952\24426078.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

In [54]:
driver.quit()

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [55]:
# This is the url you will scrape in this exercise
PATH = ChromeDriverManager().install()
driver=webdriver.Chrome(PATH) 
url = 'https://github.com/trending/developers'

C:\Users\axell\AppData\Local\Temp\ipykernel_1952\3534757676.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [56]:
driver.get(url)

In [61]:
driver.find_element(By.XPATH, '/html').text

'Skip to content\nSign up\nExplore\nTopics\nTrending\nCollections\nEvents\nGitHub Sponsors\nGet email updates\nTrending\nThese are the developers building the hot tools today.\nRepositories\nDevelopers\nLanguage: Any\nDate range: Today\nSponsorable: All\n1\nAriel Mashraki\na8m\nPOPULAR REPO\ngolang-cheat-sheet\nAn overview of Go syntax and features.\nFollow\n2\nMattias Wadman\nwader\nPOPULAR REPO\nfq\njq for binary formats - tool, language and decoders for working with binary and text formats\nFollow\n3\nHenrik Rydgård\nhrydgard\nPOPULAR REPO\nppsspp\nA PSP emulator for Android, Windows, Mac and Linux, written in C++. Want to contribute? Join us on Discord at https://discord.gg/5NJB6dD …\nFollow\n4\nMark Tyneway\ntynes\nop labs @ optimism\nFollow\n5\nLincoln Stein\nlstein\nPOPULAR REPO\nNet-ISP-Balance\nSet of scripts to load-balance your Internet connection across two or more ISPs with auto failover\nFollow\n6\njxxghp\njxxghp\nPOPULAR REPO\nnas-tools\nNAS媒体库资源归集、整理自动化工具\nFollow\n7\nPaul Razvan Berg\nPaulRBerg\nPOPULAR REPO\nfoundry-template\nFoundry-based template for developing Solidity smart contracts\nFollow\n8\nFlorian Roth\nNeo23x0\nPOPULAR REPO\ntiny-shells\nAll kinds of tiny shells\nFollow\n9\nMichaIng\nPOPULAR REPO\nDietPi\nLightweight justice for your single-board computer!\nFollow\n10\nVectorized\nVectorized\nPOPULAR REPO\nsolady\nOptimized Solidity snippets.\nFollow\n11\nLianmin Zheng\nmerrymercy\nPOPULAR REPO\nawesome-tensor-compilers\nA list of awesome compiler projects and papers for tensor computation and deep learning.\nFollow\n12\nX.\nije\nPOPULAR REPO\nesm.sh\nA fast, global CDN for NPM packages with ESM format.\nFollow\n13\nNorbert de Langen\nndelangen\nChroma Software\nFollow\n14\nStefan Prodan\nstefanprodan\nPOPULAR REPO\npodinfo\nGo microservice template for Kubernetes\nFollow\n15\nJaco\njacogr\nPOPULAR REPO\nsubstrate-ledger-ed25519\nExtract Substrate and Polkadot compatible ed25519 keys from Ledger mnemonic phrases\nFollow\n16\nFrançois Chollet\nfchollet\nPOPULAR REPO\nnamex\nClean up the public namespace of your package!\nFollow\n17\nMichał Lytek\nMichalLytek\nPOPULAR REPO\ntype-graphql\nCreate GraphQL schema and resolvers with TypeScript, using classes and decorators!\nFollow\n18\nLukas Taegert-Atkinson\nlukastaegert\nPOPULAR REPO\nviteconf22-rollup\nFollow\n19\nBen McCann\nbenmccann\nPOPULAR REPO\nesm-env\nFollow\n20\nAntonio Cheong\nacheong08\nPOPULAR REPO\nChatGPT\nReverse engineered ChatGPT API\nFollow\n21\nMaarten Grootendorst\nMaartenGr\nPOPULAR REPO\nBERTopic\nLeveraging BERT and c-TF-IDF to create easily interpretable topics.\nFollow\n22\nLeon\nultrafunkamsterdam\nPOPULAR REPO\nundetected-chromedriver\nCustom Selenium Chromedriver | Zero-Config | Passes ALL bot mitigation systems (like Distil / Imperva/ Datadadome / CloudFlare IUAM)\nFollow\n23\nsyuilo\nsyuilo\nPOPULAR REPO\naiscript\n🔋 A lightweight scripting language runing on JavaScript\nFollow\n24\nAbhinav Gupta\nabhinav\nPOPULAR REPO\ntmux-fastcopy\neasymotion-style text copying for tmux.\nFollow\n25\nYair Morgenstern\nyairm210\nPOPULAR REPO\nUnciv\nOpen-source Android/Desktop remake of Civ V\nFollow\nFooter\n© 2023 GitHub, Inc.\nFooter navigation\nTerms\nPrivacy\nSecurity\nStatus\nDocs\nContact GitHub\nPricing\nAPI\nTraining\nBlog\nAbout'

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [95]:
lst = [e.text.strip() for e in driver.find_elements(By.XPATH, '//*/div[2]/div[1]/div[1]/h1')]

In [97]:
lst[:5]

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [99]:
# This is the url you will scrape in this exercise
PATH = ChromeDriverManager().install()

driver=webdriver.Chrome(PATH) 

url = 'https://github.com/trending/python?since=daily'

driver.get(url)

In [111]:
lst = [e.text.strip() for e in driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h1/a')]

In [112]:
lst

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith',
 'zhayujie / chatgpt-on-wechat',
 'LeagueOfPoro / CapsuleFarmerEvolved',
 'microsoft / BioGPT',
 'BlinkDL / ChatRWKV',
 'AIGCT / EASYChatGPT',
 'mmz-001 / knowledge_gpt',
 'jxxghp / nas-tools',
 'tiangolo / fastapi',
 'TomSchimansky / CustomTkinter',
 'Rudrabha / Wav2Lip',
 'public-apis / public-apis',
 'biancangming / wtv',
 'chidiwilliams / buzz',
 'bellingcat / octosuite',
 'approximatelabs / sketch',
 'yerfor / GeneFace',
 'uptrain-ai / uptrain',
 'facebookresearch / metaseq',
 'lss233 / chatgpt-mirai-qq-bot',
 'ansible / ansible']

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise

PATH = ChromeDriverManager().install()

driver=webdriver.Chrome(PATH) 

url = 'https://en.wikipedia.org/wiki/Walt_Disney'

driver.get(url)

In [328]:
from IPython.display import Image
import requests as req
from bs4 import BeautifulSoup as bs

In [329]:
lst = [e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]

In [330]:
lst[:5]

['https://en.wikipedia.org/static/images/icons/wikipedia.png',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png']

In [331]:
Image(url =lst[5])

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [191]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
driver.get(url)

In [195]:
lst = [e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]

In [200]:
lst[:3]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search']

#### Number of Titles that have changed in the United States Code since its last release point

In [201]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [304]:
lst = [e.text for e in driver.find_elements(By.XPATH, '//div[@class="usctitlechanged"]')]

In [311]:
print('''
'/' importa el orden, el elemento siguiente sigue el anterior
'//' No importa lo que haya entre los dos elementos (el anterior y el siguiente)

ej: '//div[@class="usctitlechanged"]'
no importa lo pasado. Luego en el tag div. Busca la @class ''.

''')

'/' importa el orden, el elemento siguiente sigue el anterior
'//' No importa lo que haya entre los dos elementos (el anterior y el siguiente)

ej: '//div[@class="usctitlechanged"]'
no importa lo pasado. Luego en el tag div. Busca la @class ''.

#### A Python list with the top ten FBI's Most Wanted names

In [707]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [446]:
lst = [e.text for e in driver.find_elements(By.XPATH, '//h3[@class="title"]')]

In [447]:
lst

[]

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [335]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [472]:
date = [e.text[:10] for e in driver.find_elements(By.XPATH, '//table//*[@class="tabev6"]')]
time = [e.text[13:23] for e in driver.find_elements(By.XPATH, '//table//*[@class="tabev6"]')]

In [491]:
latitude = [e.text for e in driver.find_elements(By.XPATH, '//table//*[@class="tabev1"]')]

In [486]:
lat = latitude[::2]
lon = latitude[1::2]

In [425]:
depth = [e.text for e in driver.find_elements(By.XPATH, '//table//*[@class="tabev3"]')]

In [469]:
region = [e.text for e in driver.find_elements(By.XPATH, '//table//*[@class="tb_region"]')]

In [489]:
df = {
'date' : date,
'time': time,
'depth':depth,
'region' : region,
'latitude': lat,
'longitude' : lon
    
}
import pandas as pd

In [499]:
pd.DataFrame(df).sort_values('time', ascending = False).head(20)

,date,time,depth,region,latitude,longitude
0,2023-02-08,16:01:57.0,2,"SULAWESI, INDONESIA",4.92,122.66
1,2023-02-08,15:56:50.9,11,CENTRAL TURKEY,37.32,37.07
2,2023-02-08,15:51:45.0,10,"NEAR N COAST OF PAPUA, INDONESIA",2.52,140.68
3,2023-02-08,15:49:59.4,45,CENTRAL TURKEY,37.84,36.61
4,2023-02-08,15:42:47.8,4,CENTRAL TURKEY,37.05,36.63
5,2023-02-08,15:40:34.0,1,CENTRAL TURKEY,37.23,36.96
6,2023-02-08,15:32:41.5,10,KENYA,4.85,39.43
7,2023-02-08,15:29:29.0,33,"ISLA CHILOE, LOS LAGOS, CHILE",42.05,73.92
8,2023-02-08,15:28:32.1,7,EASTERN TURKEY,38.15,38.34
9,2023-02-08,15:25:58.3,5,EASTERN TURKEY,39.02,40.81
10,2023-02-08,15:23:04.7,10,EASTERN TURKEY,37.58,38.06
11,2023-02-08,15:22:32.2,89,"ISLAND OF HAWAII, HAWAII",19.17,155.49
12,2023-02-08,15:21:31.8,4,EASTERN TURKEY,39.14,40.15
13,2023-02-08,15:16:17.8,24,OFFSHORE HONDURAS,16.76,86.10
14,2023-02-08,15:11:13.0,6,EASTERN TURKEY,38.12,38.26
15,2023-02-08,15:07:23.8,5,CENTRAL TURKEY,38.54,37.76
16,2023-02-08,15:04:43.1,6,CENTRAL TURKEY,38.04,37.04
17,2023-02-08,15:00:05.9,131,CENTRAL TURKEY,38.12,37.24
18,2023-02-08,14:57:46.4,5,CENTRAL TURKEY,37.30,37.05
19,2023-02-08,14:55:50.9,3,EASTERN TURKEY,38.11,38.53

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [734]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/dergigi'
driver.get(url)

In [735]:
tweets = [e.text for e in driver.find_elements(By.XPATH, '//div[@class ="css-901oao css-1hf3ou5 r-14j79pv r-37j5jr r-n6v787 r-16dba41 r-1cwl3u0 r-bcqeeo r-qvutc0"]')]
tweets

['70.4K Tweets']

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/dergigi'
driver.get(url)

In [733]:
followers = [e.text for e in driver.find_elements(By.XPATH, '//span[@class ="css-901oao css-16my406 r-18jsvk2 r-poiln3 r-1b43r93 r-b88u0q r-1cwl3u0 r-bcqeeo r-qvutc0"]')]
followers[1]

IndexError: list index out of range

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [501]:
# This is the url you will scrape in this exercise

PATH = ChromeDriverManager().install()

driver=webdriver.Chrome(PATH) 

url = 'https://www.wikipedia.org/'

driver.get(url)

In [515]:
lang = [e.text for e in driver.find_elements(By.XPATH, '//*[@class ="link-box"]')]

In [516]:
lang

['English\n6 606 000+ articles',
 'Русский\n1 887 000+ статей',
 '日本語\n1 359 000+ 記事',
 'Deutsch\n2 764 000+ Artikel',
 'Français\n2 488 000+ articles',
 'Español\n1 833 000+ artículos',
 'Italiano\n1 792 000+ voci',
 'فارسی\n947 000+ مقاله',
 'Polski\n1 552 000+ haseł']

#### A list with the different kind of datasets available in data.gov.uk

In [518]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [519]:
links = [e.text for e in driver.find_elements(By.XPATH, '//*[@class ="govuk-link"]')]

In [523]:
links[4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [524]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [555]:
top = [e.text for e in driver.find_elements(By.TAG_NAME, 'td')]

In [565]:
languages = top [::4][:27]

In [566]:
natives = top [1::4][:27]

In [587]:
top = {'languages' : languages , 'natives': natives}

In [612]:
df = pd.DataFrame(top).sort_values('natives', ascending = False)

In [613]:
df = df.reset_index(drop = True)

In [614]:
df['natives'] = df['natives'].astype(float)

In [622]:
df = pd.DataFrame(top).sort_values('natives', ascending = False)

In [626]:
iterable = df.natives.values

def sumar_2(x):
    return x+2

In [629]:
list(map(sumar_2, iterable))[:4]

[922.0, 87.2, 86.6, 85.1]

In [634]:
df.sort_values('natives', ascending = False).head(20)

                                            languages  natives
0   Mandarin Chinese\n(incl. Standard Chinese, but...    920.0
1                                             Spanish    475.0
2                                             English    373.0
3                                 Hindi\n(excl. Urdu)    344.0
4                                             Bengali    234.0
5                                          Portuguese    232.0
6                                             Russian    154.0
7                                            Japanese    125.0
8                      Yue Chinese\n(incl. Cantonese)     85.2
9                                          Vietnamese     84.6
10                                            Marathi     83.1
11                                             Telugu     82.7
12                                            Turkish     82.2
13                   Wu Chinese\n(incl. Shanghainese)     81.8
14                                             Korean     81.7
15                                             French     79.9
16                                              Tamil     78.4
17                                    Standard German     75.6
18      Egyptian Spoken Arabic\n(excl. Saʽidi Arabic)     74.8
19                                Urdu\n(excl. Hindi)     70.2

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [724]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
driver.get(url)

In [725]:
top = [e.text for e in driver.find_elements(By.XPATH, '//td[@class="titleColumn"]')]

In [726]:
ranking = [e[:3].strip().replace('.','') for e in top]

In [727]:
names = [e.split('.')[1] for e in top]

In [728]:
names = [e.split('(')[0].strip() for e in names]

In [729]:
release = [e[-6:].replace('(','').replace(')','') for e in top]

In [730]:
stars = [e.text for e in driver.find_elements(By.XPATH, '//td[@class="ratingColumn imdbRating"]')]

In [731]:
df = {
'ranking':ranking,
'names':names,
'release':release,
'stars':stars    
}

In [732]:
df = pd.DataFrame(df)
df.head()

  ranking                     names release stars
0       1  The Shawshank Redemption    1994   9.2
1       2             The Godfather    1972   9.2
2       3           The Dark Knight    2008   9.0
3       4     The Godfather Part II    1974   9.0
4       5              12 Angry Men    1957   9.0

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [672]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'
driver.get(url)

In [675]:
df.sample(n=10)

    ranking                                         names release stars
247     248                                       Aladdin    1992   8.0
180     181  Harry Potter and the Deathly Hallows: Part 2    2011   8.1
169     170                                         Fargo    1996   8.1
113     114                                  A Separation    2011   8.2
106     107                                      Scarface    1983   8.2
81       82                                     Your Name    2016   8.3
84       85                           Requiem for a Dream    2000   8.3
181     182                             On the Waterfront    1954   8.1
140     141                               The Sixth Sense    1999   8.2
131     132                                    Green Book    2018   8.2

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [676]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
driver.get(url)

Enter the city:Paris

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [678]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
PATH = ChromeDriverManager().install()

driver=webdriver.Chrome(PATH)

url = 'http://books.toscrape.com/'
driver.get(url)

In [690]:
book = [e.text for e in driver.find_elements(By.TAG_NAME, 'h3')]

In [696]:
price = [e.text[:6] for e in driver.find_elements(By.XPATH, '//div[@class="product_price"]')]

In [698]:
stock = [e.text for e in driver.find_elements(By.XPATH, '//p[@class="instock availability"]')]

In [700]:
df = {
    'book':book,
    'price':price,
    'stock':stock
}

In [701]:
pd.DataFrame(df)

                                     book   price     stock
0                      A Light in the ...  £51.77  In stock
1                      Tipping the Velvet  £53.74  In stock
2                              Soumission  £50.10  In stock
3                           Sharp Objects  £47.82  In stock
4            Sapiens: A Brief History ...  £54.23  In stock
5                         The Requiem Red  £22.65  In stock
6            The Dirty Little Secrets ...  £33.34  In stock
7                 The Coming Woman: A ...  £17.93  In stock
8                     The Boys in the ...  £22.60  In stock
9                         The Black Maria  £52.15  In stock
10  Starving Hearts (Triangular Trade ...  £13.99  In stock
11                  Shakespeare's Sonnets  £20.66  In stock
12                            Set Me Free  £17.46  In stock
13    Scott Pilgrim's Precious Little ...  £52.29  In stock
14                      Rip it Up and ...  £35.02  In stock
15                  Our Band Could Be ...  £57.25  In stock
16                                   Olio  £23.88  In stock
17        Mesaerion: The Best Science ...  £37.59  In stock
18           Libertarianism for Beginners  £51.33  In stock
19                It's Only the Himalayas  £45.17  In stock