# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [ ]:
#%pip install webdriver-manager
#%pip install selenium

In [3]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [4]:
PATH = ChromeDriverManager().install() 
driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_10749/1767297944.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

In [5]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [6]:
driver = ChromeDriverManager().install()  #remember substitute this for your driver path
driver = webdriver.Chrome(driver,options = opciones)

/var/folders/bw/khd8ptmn3_9fkbzj7_596v7c0000gn/T/ipykernel_10749/3366603859.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [ ]:
driver.get(url)

In [ ]:
todo = driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")

In [ ]:
names = [todo[i].text for i in range(len(todo))]

In [ ]:
names

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [ ]:
#your code

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [ ]:
driver.get(url)

In [ ]:
#class="h3 lh-condensed"

In [ ]:
todo = driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")

In [ ]:
repos = [todo[i].text for i in range(len(todo))]

In [ ]:
repos

#### Display all the image links from Walt Disney wikipedia page

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [ ]:
driver.get(url)

In [ ]:
tags = driver.find_elements(By.TAG_NAME, "img")#[0].get_attribute('src')

In [ ]:
imagenes = [tags[i].get_attribute('src') for i in range(len(tags))]

In [ ]:
imagenes[:5]

In [ ]:
#your code

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [ ]:
driver.get(url)

In [ ]:
tags = driver.find_elements(By.TAG_NAME, "a")

In [ ]:
links = [tags[i].get_attribute("href") for i in range(len(tags))]

In [ ]:
links[:5]

In [ ]:
#your code

#### Number of Titles that have changed in the United States Code since its last release point

In [1]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [2]:
driver.get(url)

NameError: name 'driver' is not defined

In [ ]:

#class="usctitlechanged"

In [ ]:
tags = driver.find_elements(By.CLASS_NAME, "usctitlechanged")
tags[0].text

In [ ]:
#links = [tags[i].get_attribute("href") for i in range(len(tags))]

In [ ]:
titulos = [tags[i].text for i in range(len(tags))]
titulos[:5]

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [ ]:
driver.get(url)

In [ ]:
tags = driver.find_elements(By.CLASS_NAME, "title")#[0].get_attribute('src')
tags[1].text

In [ ]:
names = [tags[i].text for i in range(len(tags))]

In [ ]:
names

In [ ]:
names = names[1:]

In [ ]:
names

In [ ]:
#your code

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [7]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [8]:
driver.get(url)

In [9]:
tags = driver.find_elements(By.CLASS_NAME, "tabev6")
tags[0].text

'2023-02-08   18:32:44.7\n09min ago'

In [10]:
dates = [tags[i].text.split()[0] for i in range(20)]
time = [tags[i].text.split()[1] for i in range(20)]
time

['18:32:44.7',
 '18:28:47.1',
 '18:26:12.5',
 '18:22:00.0',
 '18:18:57.9',
 '18:16:30.0',
 '18:12:48.9',
 '18:08:40.0',
 '18:07:54.3',
 '18:06:51.3',
 '18:03:42.8',
 '18:01:07.0',
 '18:00:23.0',
 '17:57:23.9',
 '17:53:28.6',
 '17:52:07.0',
 '17:50:15.3',
 '17:48:09.0',
 '17:44:47.3',
 '17:43:00.9']

In [11]:
tags = driver.find_elements(By.CLASS_NAME, "tabev1")
tags[1].text

'118.47 '

In [12]:
longlat = [tags[i].text.split() for i in range(40)]

In [13]:
longitud = longlat[::2]
longitud

[['39.58'],
 ['38.09'],
 ['37.32'],
 ['33.08'],
 ['37.87'],
 ['42.10'],
 ['38.15'],
 ['27.80'],
 ['44.01'],
 ['38.11'],
 ['19.16'],
 ['28.14'],
 ['38.03'],
 ['39.81'],
 ['37.93'],
 ['8.37'],
 ['38.10'],
 ['2.47'],
 ['37.80'],
 ['38.46']]

In [14]:
latitud = longlat[1::2]

In [15]:
latitud

[['118.47'],
 ['37.68'],
 ['37.07'],
 ['72.03'],
 ['36.63'],
 ['142.80'],
 ['36.94'],
 ['70.20'],
 ['13.32'],
 ['37.82'],
 ['155.48'],
 ['69.06'],
 ['36.55'],
 ['40.88'],
 ['38.10'],
 ['77.02'],
 ['36.67'],
 ['140.68'],
 ['36.70'],
 ['39.53']]

In [16]:
tags = driver.find_elements(By.CLASS_NAME, "tabev2")

In [17]:
longlat2 = [tags[i].text.split() for i in range(60)]

In [18]:
longitud2 = longlat2[::3]
latitud2 = longlat2[1::3]

In [19]:
longitud2

[['N'],
 ['N'],
 ['N'],
 ['S'],
 ['N'],
 ['N'],
 ['N'],
 ['S'],
 ['N'],
 ['N'],
 ['N'],
 ['S'],
 ['N'],
 ['N'],
 ['N'],
 ['N'],
 ['N'],
 ['S'],
 ['N'],
 ['N']]

In [20]:
longitud3 = []
for sublista in longitud:
    longitud3.extend(sublista)

In [21]:
latitud3 = []
for sublista in latitud:
    latitud3.extend(sublista)

In [22]:
latitud4 = []
for sublista in latitud2:
    latitud4.extend(sublista)

In [23]:
longitud4 = []
for sublista in longitud2:
    longitud4.extend(sublista)

In [24]:
#aqui me he rallado porque eran todo listas de listas, y no he pensado una forma mejor de solucionarlo

In [25]:
#tb_region
tags = driver.find_elements(By.CLASS_NAME, "tb_region")
region = [tags[i].text for i in range(20)]
region

[' NEVADA',
 ' CENTRAL TURKEY',
 ' CENTRAL TURKEY',
 ' OFFSHORE VALPARAISO, CHILE',
 ' CENTRAL TURKEY',
 ' HOKKAIDO, JAPAN REGION',
 ' CENTRAL TURKEY',
 ' ATACAMA, CHILE',
 ' ADRIATIC SEA',
 ' CENTRAL TURKEY',
 ' ISLAND OF HAWAII, HAWAII',
 ' LA RIOJA, ARGENTINA',
 ' CENTRAL TURKEY',
 ' EASTERN TURKEY',
 ' EASTERN TURKEY',
 ' PANAMA-COLOMBIA BORDER REGION',
 ' CENTRAL TURKEY',
 ' NEAR N COAST OF PAPUA, INDONESIA',
 ' CENTRAL TURKEY',
 ' EASTERN TURKEY']

In [26]:
#date, time, latitude, longitude and region name
data = pd.DataFrame(columns = ["date", "time", "latitude", "latitudelet", "longitude","longitudelet",  "region"])

In [27]:
data.head()

Empty DataFrame
Columns: [date, time, latitude, latitudelet, longitude, longitudelet, region]
Index: []

In [28]:
data.date = dates

In [29]:
data.head()

         date time latitude latitudelet longitude longitudelet region
0  2023-02-08  NaN      NaN         NaN       NaN          NaN    NaN
1  2023-02-08  NaN      NaN         NaN       NaN          NaN    NaN
2  2023-02-08  NaN      NaN         NaN       NaN          NaN    NaN
3  2023-02-08  NaN      NaN         NaN       NaN          NaN    NaN
4  2023-02-08  NaN      NaN         NaN       NaN          NaN    NaN

In [30]:
data.time = time
data.latitude = latitud3
data.latitudelet = latitud4
data.longitude = longitud3
data.longitudelet = longitud4
data.region = region

In [31]:
data.head()

,date,time,latitude,latitudelet,longitude,longitudelet,region
0,2023-02-08,18:32:44.7,118.47,W,39.58,N,NEVADA
1,2023-02-08,18:28:47.1,37.68,E,38.09,N,CENTRAL TURKEY
2,2023-02-08,18:26:12.5,37.07,E,37.32,N,CENTRAL TURKEY
3,2023-02-08,18:22:00.0,72.03,W,33.08,S,"OFFSHORE VALPARAISO, CHILE"
4,2023-02-08,18:18:57.9,36.63,E,37.87,N,CENTRAL TURKEY

#### Count number of tweets by a given Twitter account.

In [32]:
url = "https://twitter.com/segomismo"

In [33]:
driver.get(url)

In [ ]:
#css-901oao css-1hf3ou5 r-14j79pv r-37j5jr r-n6v787 r-16dba41 r-1cwl3u0 r-bcqeeo r-qvutc0

In [ ]:
#todo = driver.find_elements(By.CLASS_NAME, "h3.lh-condensed")

In [34]:
cantidad = driver.find_elements(By.CLASS_NAME, "css-901oao.css-1hf3ou5.r-14j79pv.r-37j5jr.r-n6v787.r-16dba41.r-1cwl3u0.r-bcqeeo.r-qvutc0")

In [35]:
cantidad[0].text

'248 Tweets'

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [38]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [39]:
driver.get(url)

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [36]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [37]:
driver.get(url)

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [40]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [41]:
driver.get(url)

In [ ]:
#tags = driver.find_elements(By.TAG_NAME, "img")#[0].get_attribute('src')

In [42]:
tags = driver.find_elements(By.TAG_NAME, "strong")#[0].get_attribute('src')

In [57]:
tags[10].text#de 1 a 10

'Polski'

In [ ]:
#dir="ltr"

In [53]:
tags2 = driver.find_elements(By.TAG_NAME, "bdi")#[0].get_attribute('src')

In [60]:
tags2[7].text#el 7 no

'1 331 000+'

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [ ]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code