# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
#%pip install selenium
#%pip install webdriver-manager
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

/var/folders/47/wzq7k7vn6vd_yq54t9gh0q8w0000gn/T/ipykernel_18456/4076755805.py:6: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

In [3]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH)

/var/folders/47/wzq7k7vn6vd_yq54t9gh0q8w0000gn/T/ipykernel_18456/1234731377.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [4]:
driver = "./chromedriver.exe" #remember substitute this for your driver path
driver = webdriver.Chrome(driver,options = opciones)

/var/folders/47/wzq7k7vn6vd_yq54t9gh0q8w0000gn/T/ipykernel_18456/4249207107.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver,options = opciones)

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [6]:
driver.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [7]:
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...

import time

import warnings
warnings.filterwarnings('ignore')

In [8]:
time.sleep(0.5)

first = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/h1')

In [9]:
first.text

'Ariel Mashraki'

In [10]:
names = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'h1.h3.lh-condensed')]

In [11]:
names

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein',
 'jxxghp',
 'Paul Razvan Berg',
 'Florian Roth',
 'MichaIng',
 'Vectorized',
 'Lianmin Zheng',
 'X.',
 'Norbert de Langen',
 'Stefan Prodan',
 'Jaco',
 'François Chollet',
 'Michał Lytek',
 'Lukas Taegert-Atkinson',
 'Ben McCann',
 'Antonio Cheong',
 'Maarten Grootendorst',
 'Leon',
 'syuilo',
 'Abhinav Gupta',
 'Yair Morgenstern']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [12]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [13]:
#your code
driver.get(url)

In [14]:
repos = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'h1.h3.lh-condensed')]

In [15]:
repos

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith',
 'zhayujie / chatgpt-on-wechat',
 'LeagueOfPoro / CapsuleFarmerEvolved',
 'microsoft / BioGPT',
 'BlinkDL / ChatRWKV',
 'AIGCT / EASYChatGPT',
 'mmz-001 / knowledge_gpt',
 'jxxghp / nas-tools',
 'tiangolo / fastapi',
 'TomSchimansky / CustomTkinter',
 'Rudrabha / Wav2Lip',
 'public-apis / public-apis',
 'biancangming / wtv',
 'chidiwilliams / buzz',
 'bellingcat / octosuite',
 'approximatelabs / sketch',
 'yerfor / GeneFace',
 'uptrain-ai / uptrain',
 'facebookresearch / metaseq',
 'lss233 / chatgpt-mirai-qq-bot',
 'ansible / ansible']

#### Display all the image links from Walt Disney wikipedia page

In [16]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [17]:
driver.get(url)

In [18]:
links = [e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]

In [19]:
len(links)

41

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [20]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [21]:
driver.get(url)

In [22]:
links = [e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]

In [23]:
links[:10]

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/wiki/Main_Page']

#### Number of Titles that have changed in the United States Code since its last release point

In [24]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [25]:
driver.get(url)

In [26]:
titles = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'div.usctitlechanged')]

In [27]:
titles

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 25 - Indians',
 'Title 29 - Labor',
 'Title 31 - Money and Finance ٭',
 'Title 34 - Crime Control and Law Enforcement',
 "Title 38 - Veterans' Benefits ٭",
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare']

#### A Python list with the top ten FBI's Most Wanted names

In [28]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [29]:
driver.get(url)

In [30]:
topten = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'h3.title')]

In [31]:
topten

['RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [32]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [33]:
driver.get(url)

In [34]:
head = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'th.th2')]

In [35]:
head

['Citizen\nResponse',
 'Date & Time\nUTC',
 'Latitude\ndegrees',
 'Longitude\ndegrees',
 'Depth\nkm',
 'Mag\n[+]',
 'Region name\n[+]',
 '']

In [36]:
data = pd.DataFrame(columns = head)

In [37]:
day = [e.text[:23] for e in driver.find_elements(By.CSS_SELECTOR, 'td.tabev6')]

In [38]:
lat = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'td.tabev1')]

In [39]:
lat2 = [lat[e] for e in range(1, len(lat), 2)]

In [40]:
lon2 = [lat[e] for e in range(0, len(lat), 2)]

In [41]:
coord = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'td.tabev2')]

In [42]:
londe = [coord[e] for e in range(1, len(coord), 3)]

In [43]:
latde = [coord[e] for e in range(0, len(coord), 3)]

In [44]:
region = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'td.tb_region')]

In [45]:
data['Date & Time\nUTC'] = day

In [46]:
data['Latitude\ndegrees'] = lon2

In [47]:
data['Longitude\ndegrees'] = lat2

In [48]:
data['Region name\n[+]'] = region

In [49]:
data['Latitude\ndegrees']+= latde

In [50]:
data['Longitude\ndegrees']+= londe

In [51]:
data.head()

,Citizen\nResponse,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,NaN,2023-02-08 16:21:19.8,19.15 N,155.48 W,NaN,NaN,"ISLAND OF HAWAII, HAWAII",NaN
1,NaN,2023-02-08 16:18:17.6,38.00 N,37.51 E,NaN,NaN,CENTRAL TURKEY,NaN
2,NaN,2023-02-08 16:15:05.3,37.55 N,37.34 E,NaN,NaN,CENTRAL TURKEY,NaN
3,NaN,2023-02-08 16:12:04.2,38.10 N,36.69 E,NaN,NaN,CENTRAL TURKEY,NaN
4,NaN,2023-02-08 16:01:57.0,4.92 S,122.66 E,NaN,NaN,"SULAWESI, INDONESIA",NaN

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [52]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [53]:
driver.get(url)

In [54]:
first = driver.find_element(By.XPATH, '//*[@id="js-link-box-de"]')
first.text[:17].replace('\n', ',').replace(' ', '')

'Deutsch,2764000'

In [55]:
languages = [e.text[:19].replace('\n', ',').replace(' ', '') for e in driver.find_elements(By.CSS_SELECTOR, 'a.link-box')]

In [56]:
languages

['English,6606000+',
 'Русский,1887000+',
 '日本語,1359000+記事',
 'Deutsch,2764000+',
 'Français,2488000+',
 'Español,1833000+',
 'Italiano,1792000+',
 '中文,1331000+条目/',
 'فارسی,947000+مقال',
 'Polski,1552000+h']

#### A list with the different kind of datasets available in data.gov.uk

In [57]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [58]:
driver.get(url)

In [59]:
datasets = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'a.govuk-link')]

In [60]:
datasets[3:]

['feedback',
 'Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [61]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [62]:
driver.get(url)

In [63]:
head = [e.text for e in driver.find_elements(By.CSS_SELECTOR, 'th.headerSort')]

In [64]:
head

['Language',
 'Native speakers\n(millions)',
 'Language family',
 'Branch',
 'Rank',
 'Language',
 'Percentage\nof world\npopulation\n(2018)']

In [65]:
table = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[1]')

table

In [66]:
header = table.find_element(By.TAG_NAME, 'thead').text

In [67]:
cols = header.split(' ')
cols

['Language', 'Native', 'speakers\n(millions)', 'Language', 'family', 'Branch']

In [68]:
df = pd.DataFrame(columns=cols)

In [69]:
df

Empty DataFrame
Columns: [Language, Native, speakers
(millions), Language, family, Branch]
Index: []

In [70]:
language = [e.text for e in table.find_elements(By.CSS_SELECTOR, 'a.mw-redirect')]
language.remove('Eastern Punjabi')
language

['Mandarin Chinese',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Yue Chinese',
 'Vietnamese',
 'Marathi',
 'Telugu',
 'Turkish',
 'Wu Chinese',
 'Korean',
 'French',
 'Tamil',
 'Standard German',
 'Egyptian Spoken Arabic',
 'Urdu',
 'Javanese',
 'Western Punjabi',
 'Italian',
 'Gujarati',
 'Iranian Persian',
 'Bhojpuri',
 'Hausa']

In [96]:
alldata = [e.text for e in table.find_elements(By.TAG_NAME, 'td')]

In [72]:
nativespeaker = [alldata[e] for e in range(1, len(alldata)+1, 4)]
len(nativespeaker)

27

In [73]:
family = [alldata[e] for e in range(2, len(alldata), 4)]

In [74]:
branch = [alldata[e] for e in range(3, len(alldata), 4)]

In [75]:
df['Language']=language

In [76]:
df['Native']=nativespeaker

In [77]:
df['family']=family

In [78]:
df['Branch']=branch

In [79]:
df.head()

,Language,Native,speakers\n(millions),Language,family,Branch
0,Mandarin Chinese,920,NaN,Mandarin Chinese,Sino-Tibetan,Sinitic
1,Spanish,475,NaN,Spanish,Indo-European,Romance
2,English,373,NaN,English,Indo-European,Germanic
3,Hindi,344,NaN,Hindi,Indo-European,Indo-Aryan
4,Bengali,234,NaN,Bengali,Indo-European,Indo-Aryan

### BONUS QUESTIONS

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [80]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [81]:
driver.get(url)

In [99]:
moviesta = driver.find_element(By.XPATH, '//*[@id="main"]/div/span/div/div/div[3]/table/tbody')

In [102]:
directors = [e.get_attribute('title').split(',')[0] for e in moviesta.find_elements(By.TAG_NAME, 'a') ]

In [104]:
directors = [directors[e] for e in range(1, len(directors), 2)]

In [120]:
len(directors)

250

In [117]:
movie = [e.text for e in moviesta.find_elements(By.TAG_NAME, 'a')]

In [152]:
movie = [movie[e] for e in range(1, len(movie), 2)]

In [138]:
releasey = [e.text for e in moviesta.find_elements(By.TAG_NAME, 'span')]

In [151]:
releasey = [releasey[e] for e in range(5, len(releasey), 7)]

In [145]:
stars = [e.text for e in moviesta.find_elements(By.TAG_NAME, 'strong')]

In [106]:
top250 = pd.DataFrame(columns=['Movie_name','release','director', 'stars'])

In [108]:
top250['director'] = directors

In [122]:
top250['Movie_name'] = movie

In [141]:
top250['release'] = releasey

In [147]:
top250['stars'] = stars

In [150]:
top250.head()

                 Movie_name release                     director stars
0  The Shawshank Redemption  (1994)        Frank Darabont (dir.)   9.2
1             The Godfather  (1972)  Francis Ford Coppola (dir.)   9.2
2           The Dark Knight  (2008)     Christopher Nolan (dir.)   9.0
3     The Godfather Part II  (1974)  Francis Ford Coppola (dir.)   9.0
4              12 Angry Men  (1957)          Sidney Lumet (dir.)   9.0

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [82]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [83]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [84]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [85]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [86]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [87]:
#your code