# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Selenium Doc](https://www.selenium.dev/documentation/)
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `Selenium` and `pandas` are imported for you.

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver

In [3]:
from webdriver_manager.chrome import ChromeDriverManager

#### Enable the options you may need. In the next cell you have an example of them but you can choose to use them or not.

In [4]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [9]:
PATH = ChromeDriverManager().install()     # instala el driver de chrome

driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get('https://www.google.es')

/var/folders/qc/t82_vk1d72zgwrn06427c8bc0000gn/T/ipykernel_3286/24426078.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

In [10]:
driver.quit()

In [11]:
from selenium.webdriver.common.by import By # By es para buscar por tag, clase, id...

import time

import warnings
warnings.filterwarnings('ignore')

#### Download, parse, and print the content from the Trending Developers page from GitHub:

In [12]:
# This is the url you will scrape in this exercise
URL = 'https://github.com/trending/developers'

In [15]:
driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get(URL)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [36]:
time.sleep(0.5)

elemento = driver.find_element(By.XPATH, '//*[@id="pa-a8m"]/div[2]/div[1]/div[1]/h1/a')

elemento.text

'Ariel Mashraki'

In [37]:
elemlst = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')

elemlst[0].text

[e.text for e in elemlst]

['Ariel Mashraki',
 'Mattias Wadman',
 'Henrik Rydgård',
 'Mark Tyneway',
 'Lincoln Stein',
 'jxxghp',
 'Paul Razvan Berg',
 'Florian Roth',
 'MichaIng',
 'Vectorized',
 'Lianmin Zheng',
 'X.',
 'Norbert de Langen',
 'Stefan Prodan',
 'Jaco',
 'François Chollet',
 'Michał Lytek',
 'Lukas Taegert-Atkinson',
 'Ben McCann',
 'Antonio Cheong',
 'Maarten Grootendorst',
 'Leon',
 'syuilo',
 'Abhinav Gupta',
 'Yair Morgenstern']

In [39]:
driver.quit()

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [40]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [41]:
driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get(url)

In [71]:
elemento = driver.find_elements(By.CLASS_NAME, 'h3.lh-condensed')

elemento[0].text

IndexError: list index out of range

In [46]:
[e.text for e in elemento]

['acheong08 / ChatGPT',
 'Zero6992 / chatGPT-discord-bot',
 'TheAlgorithms / Python',
 'LAION-AI / Open-Assistant',
 'ddPn08 / Lsmith',
 'zhayujie / chatgpt-on-wechat',
 'LeagueOfPoro / CapsuleFarmerEvolved',
 'microsoft / BioGPT',
 'BlinkDL / ChatRWKV',
 'AIGCT / EASYChatGPT',
 'mmz-001 / knowledge_gpt',
 'jxxghp / nas-tools',
 'tiangolo / fastapi',
 'TomSchimansky / CustomTkinter',
 'Rudrabha / Wav2Lip',
 'public-apis / public-apis',
 'biancangming / wtv',
 'chidiwilliams / buzz',
 'bellingcat / octosuite',
 'approximatelabs / sketch',
 'yerfor / GeneFace',
 'uptrain-ai / uptrain',
 'facebookresearch / metaseq',
 'lss233 / chatgpt-mirai-qq-bot',
 'ansible / ansible']

In [47]:
driver.quit()

#### Display all the image links from Walt Disney wikipedia page

In [119]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [120]:
driver=webdriver.Chrome(PATH)       # abre una venta una de chrome

driver.get(url)

In [121]:
time.sleep(0.5)

disney = driver.find_elements(By.TAG_NAME, 'img')[0].get_attribute('src')

In [122]:
disney

'https://en.wikipedia.org/static/images/icons/wikipedia.png'

In [123]:
links = [e.get_attribute('src') for e in driver.find_elements(By.TAG_NAME, 'img')]

In [124]:
links

['https://en.wikipedia.org/static/images/icons/wikipedia.png',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 'https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/38px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/34px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/14px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/16px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/18px-Wikisource-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/21px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

In [125]:
driver.quit()

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [126]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [127]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [128]:
wiki = driver.find_elements(By.TAG_NAME, 'a')[0].get_attribute('href')

In [131]:
wikilinks = [e.get_attribute('href') for e in driver.find_elements(By.TAG_NAME, 'a')]

In [132]:
wikilinks

['https://en.wikipedia.org/wiki/Python#bodyContent',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Special:Search',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents',
 'https://en.wikipedia.org/wiki/Portal:Current_events',
 'https://en.wikipedia.org/wiki/Special:Random',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://en.wikipedia.org/wiki/Help:Contents',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Wikipedia:Community_portal',
 'https://en.wikipedia.org/wiki/Special:RecentChanges',
 'https://en.wikipedia.org/wiki/Wikipedia:File_upload_wizard',
 'https://en.wikipedia.org/wiki/Special:WhatLinksHere/Python',
 'https://en.wikipedia.org/wiki/Special:RecentChangesLinked/Python',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:SpecialPages',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1134693155',
 'https://en.wikipedia.org/w/index.php?title=Python&action=info',
 'https://en.wikipedia.org/w/index.php?title=Special:CiteThisPage&page=Python&id=1134693155&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https://en.wikipedia.org/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 'https://en.wikipedia.org/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://en.wikipedia.org/wiki/Python#p-lang-btn',
 'https://en.wikipedia.org/wiki/Python#',
 'https://en.wikipedia.org/wiki/Python#Snakes',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles',
 'https://en.wikipedia.org/wiki/Python#Weaponry',
 'https://en.wikipedia.org/wiki/Python#Other_uses',
 'https://en.wikipedia.org/wiki/Python#See_also',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Talk:Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=3&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=4&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=5&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=6&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=7&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(codename)',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/wiki/Timon_of_Phlius',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=8&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Cython',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=1134693155',
 'https://en.wikipedia.org/wiki/Help:Category',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 'https://creativecommons.org/licenses/by-sa/3.0/',
 'https://foundation.wikimedia.org/wiki/Terms_of_Use',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:General_disclaimer',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://developer.wikimedia.org/',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://en.wikipedia.org/wiki/Python#',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/',
 'https://en.wikipedia.org/wiki/Python?action=edit']

In [134]:
driver.quit()

#### Number of Titles that have changed in the United States Code since its last release point

In [135]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [136]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [139]:
titles = driver.find_elements(By.CLASS_NAME, 'usctitlechanged')

titles[0].text

'Title 2 - The Congress'

In [140]:
[e.text for e in titles]

['Title 2 - The Congress',
 'Title 6 - Domestic Security',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 25 - Indians',
 'Title 29 - Labor',
 'Title 31 - Money and Finance ٭',
 'Title 34 - Crime Control and Law Enforcement',
 "Title 38 - Veterans' Benefits ٭",
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare']

In [141]:
driver.quit()

#### A Python list with the top ten FBI's Most Wanted names

In [357]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [358]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [361]:
mostwanted = driver.find_elements(By.CLASS_NAME, 'title')

mostwanted[1].text

'YULAN ADONAY ARCHAGA CARIAS'

In [362]:
[e.text for e in mostwanted][1:]

['YULAN ADONAY ARCHAGA CARIAS',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

In [363]:
driver.quit()

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [397]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [398]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [399]:
head = driver.find_elements(By.CLASS_NAME, 'th2')

head[0].text

'Citizen\nResponse'

In [400]:
col= [e.text for e in head][1:]

In [401]:
date = driver.find_elements(By.CLASS_NAME, 'tabev6')

In [402]:
date[0].text

'2023-02-08   21:35:54.5\n11min ago'

In [403]:
date = [e.text for e in date]

In [404]:
latlong = driver.find_elements(By.CLASS_NAME, 'tabev1')

In [405]:
latlong[0].text

'37.54 '

In [406]:
sdata =[e.text for e in latlong]

In [407]:
longitud =sdata[::1]

In [408]:
latitud = sdata[1::] #latitud

In [409]:
coor = driver.find_elements(By.CLASS_NAME, 'tabev2')

In [410]:
coor[0].text

'N  '

In [411]:
data=[e.text for e in coor]

In [412]:
clat=data[::3] # lat

In [413]:
clng=data[1::3]  #lng

In [414]:
mag=data[2::3] #mgnt

In [415]:
deep = driver.find_elements(By.CLASS_NAME, 'tabev3')

In [416]:
deep[0].text

'5'

In [417]:
depth = [e.text for e in deep]

In [418]:
region = driver.find_elements(By.CLASS_NAME, 'tb_region')

In [419]:
region[0].text

' CENTRAL TURKEY'

In [420]:
reg =[e.text for e in region]

earthquakecol = pd.DataFrame(columns = col)

In [421]:
earthquakecol['Date & Time\nUTC'] = date

In [422]:
earthquakecol.head()

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,NaN,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,NaN,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,NaN,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,NaN,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,NaN,NaN

In [423]:
a = latitud 
b = clat
c = zip(a,b)
d = (list(c))
print(d)

earthquakecol['Latitude\ndegrees'] = d

earthquakecol.head()

[('37.24 ', 'N  '), ('38.17 ', 'N  '), ('37.95 ', 'N  '), ('37.98 ', 'N  '), ('36.71 ', 'N  '), ('38.16 ', 'N  '), ('37.90 ', 'S  '), ('38.18 ', 'N  '), ('37.94 ', 'N  '), ('43.32 ', 'N  '), ('11.33 ', 'N  '), ('18.39 ', 'N  '), ('120.19 ', 'N  '), ('43.32 ', 'N  '), ('11.32 ', 'N  '), ('37.88 ', 'N  '), ('36.33 ', 'N  '), ('43.31 ', 'S  '), ('11.35 ', 'N  '), ('38.30 ', 'N  '), ('37.28 ', 'S  '), ('43.32 ', 'N  '), ('11.33 ', 'N  '), ('38.60 ', 'N  '), ('37.45 ', 'N  '), ('38.05 ', 'N  '), ('37.71 ', 'N  '), ('43.33 ', 'N  '), ('11.31 ', 'N  '), ('43.31 ', 'N  '), ('11.32 ', 'N  '), ('38.08 ', 'N  '), ('37.30 ', 'N  '), ('8.49 ', 'N  '), ('121.07 ', 'N  '), ('38.03 ', 'N  '), ('36.51 ', 'N  '), ('37.37 ', 'N  '), ('36.50 ', 'N  '), ('43.15 ', 'N  '), ('73.80 ', 'N  '), ('63.00 ', 'N  '), ('150.47 ', 'N  '), ('38.28 ', 'N  '), ('38.19 ', 'N  '), ('37.29 ', 'N  '), ('36.72 ', 'S  '), ('12.36 ', 'N  '), ('87.58 ', 'N  '), ('38.26 ', 'N  ')]

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,NaN,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,NaN,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,NaN,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,NaN,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,NaN,NaN

In [424]:
a = longitud
b = clng
c = zip(a,b)
d = (list(c))
earthquakecol['Longitude\ndegrees'] = d

earthquakecol.head()

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,NaN,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,NaN,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,NaN,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,NaN,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,NaN,NaN

In [425]:
earthquakecol['Depth\nkm'] = depth

earthquakecol.head()

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,NaN,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,NaN,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,NaN,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,NaN,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,NaN,NaN

In [426]:
earthquakecol['Mag\n[+]'] = mag

earthquakecol.head()

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,NaN,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,NaN,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,NaN,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,NaN,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,NaN,NaN

In [428]:
earthquakecol['Region name\n[+]'] = reg

earthquakecol.head(20)

,Date & Time\nUTC,Latitude\ndegrees,Longitude\ndegrees,Depth\nkm,Mag\n[+],Region name\n[+],
0,2023-02-08 21:35:54.5\n11min ago,"(37.24 , N )","(37.54 , E )",5,3.4,CENTRAL TURKEY,NaN
1,2023-02-08 21:19:06.1\n28min ago,"(38.17 , N )","(37.24 , E )",5,2.6,CENTRAL TURKEY,NaN
2,2023-02-08 21:17:28.0\n30min ago,"(37.95 , N )","(38.17 , E )",6,2.8,CENTRAL TURKEY,NaN
3,2023-02-08 21:15:07.5\n32min ago,"(37.98 , N )","(37.95 , E )",4,3.2,CENTRAL TURKEY,NaN
4,2023-02-08 21:10:39.3\n37min ago,"(36.71 , N )","(37.98 , E )",5,3.1,CENTRAL TURKEY,NaN
5,2023-02-08 21:10:11.2\n37min ago,"(38.16 , N )","(36.71 , E )",10,2.0,CENTRAL ITALY,NaN
6,2023-02-08 21:10:07.3\n37min ago,"(37.90 , S )","(38.16 , E )",10,2.9,WESTERN AUSTRALIA,NaN
7,2023-02-08 21:08:31.2\n39min ago,"(38.18 , N )","(37.90 , E )",8,2.7,CENTRAL ITALY,NaN
8,2023-02-08 21:02:18.3\n45min ago,"(37.94 , N )","(38.18 , E )",13,2.6,CENTRAL TURKEY,NaN
9,2023-02-08 21:02:04.4\n45min ago,"(43.32 , N )","(37.94 , E )",5,2.1,CENTRAL ITALY,NaN
10,2023-02-08 21:00:25.9\n47min ago,"(11.33 , N )","(43.32 , E )",5,3.0,CENTRAL TURKEY,NaN
11,2023-02-08 20:58:14.6\n49min ago,"(18.39 , N )","(11.33 , E )",7,2.4,CENTRAL ITALY,NaN
12,2023-02-08 20:57:58.4\n49min ago,"(120.19 , N )","(18.39 , E )",8,3.5,CENTRAL TURKEY,NaN
13,2023-02-08 20:55:35.3\n52min ago,"(43.32 , N )","(120.19 , E )",2,3.3,CENTRAL TURKEY,NaN
14,2023-02-08 20:53:55.2\n53min ago,"(11.32 , N )","(43.32 , E )",9,2.4,CENTRAL ITALY,NaN
15,2023-02-08 20:51:39.3\n56min ago,"(37.88 , N )","(11.32 , E )",10,4.0,CENTRAL ITALY,NaN
16,2023-02-08 20:51:05.8\n56min ago,"(36.33 , N )","(37.88 , E )",8,2.5,CENTRAL TURKEY,NaN
17,2023-02-08 20:43:35.0\n1hr 04min ago,"(43.31 , S )","(36.33 , E )",164,3.4,"FLORES REGION, INDONESIA",NaN
18,2023-02-08 20:40:58.8\n1hr 06min ago,"(11.35 , N )","(43.31 , E )",11,2.8,CENTRAL TURKEY,NaN
19,2023-02-08 20:39:51.7\n1hr 08min ago,"(38.30 , N )","(11.35 , E )",28,2.8,CENTRAL TURKEY,NaN

#### A list with the different kind of datasets available in data.gov.uk

In [169]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [170]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [174]:
language = driver.find_elements(By.CLASS_NAME, 'govuk-link')

language[4].text

'Business and economy'

In [175]:
[e.text for e in language][4:]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

In [176]:
driver.quit()

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
driver=webdriver.Chrome(PATH)       

driver.get(url)

In [ ]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code